
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

:root {
    /* Color groups are ordered from lightest to darkest. */
    
    /* The base colors. */
    --color-base-100: #FAFCFD;
    --color-base-200: #EDEFF1;
    --color-base-300: #E0E4E7;
    --color-base-400: #D3D8DD;
    --color-base-500: #C6CCD3;
    --color-base-600: #B9C0C9;
    --color-base-700: #ACB4BF;
    --color-base-800: #9FA8B5;
    --color-base-900: #929CAA;
    --color-base-1000: #7D838A;
    
    /* Colors used to contrast against the base colors, such as text against a base color */
    --color-contrast-300: #566475;
    --color-contrast-400: #36404D;
    --color-contrast-500: #323A45;
    --color-contrast-600: #253242;
    --color-contrast-700: #2B3038;
    
    /* Colors used for buttons and to add some color where desired */
    /* Colors used for buttons and to add some color where desired */
    --color-primary-300: #FFD700;
    --color-primary-400: #FFC400;
    --color-primary-500: #FFB100;
    --color-primary-600: #FF9E00;
    --color-primary-700: #FF8B00;
    
    /* Colors used for the action buttons */
    --color-action-300: #F7EBC2;
    --color-action-400: #F0E6C2;
    --color-action-500: #E9E1C2;
    --color-action-600: #E2DCC2;
    --color-action-700: #D9D8C2;
    
    /* Colors used for the gain indicators */
    --color-positive-300: #36C9A7;
    --color-positive-400: #2DBB9A;
    --color-positive-500: #24AD8E;
    --color-positive-600: #1B9E81;
    --color-positive-700: #119074;
    
    /* Colors used for the loss indicators */
    --color-negative-300: #F88E79;
    --color-negative-400: #EB826D;
    --color-negative-500: #DE765F;
    --color-negative-600: #D16A55;
    --color-negative-700: #C25F4A;
    
    /* Colors used as a secondary */
    --color-secondary-500: #426FA6;
    
    /* Colors used for Steam item hovers (tooltips) */
    --color-tooltip-text: #CDCDCD;
    --color-tooltip-border: #F0F0F0;
    --color-tooltip-background: #13161A;
    
    --color-white-shadow: rgba(255, 255, 255, .2);
    --color-black-shadow: rgba(0, 0, 0, .1);
    
    /* Color used for the page background */
    --color-background: var(--color-base-700);
    /* Color used for text against the background and other components */
    --color-base: var(--color-contrast-600);
    /* Color used for input text color, and component borders */
    --color-components: var(--color-contrast-400);
    /* Color used for text dividers */
    --color-text-divider: var(--color-base-1000);
    
    /* Gain or loss colors */
    --color-gain-text: var(--color-positive-500);
    --color-loss-text: var(--color-negative-500);
    
    /* Colors used for input fields */
    --color-input-active-background: var(--color-base-500);
    --color-input-active-background-2: var(--color-base-500);
    --color-input-active-border: var(--color-primary-500);
    --color-input-active-text: var(--color-primary-700);
    
    --color-input-border: var(--color-base-800);
    --color-input-background: var(--color-base-500);
    --color-input-background-2: var(--color-base-500);
    --color-input-background-hover: var(--color-base-400);
    --color-input-disabled-text: var(--color-contrast-300);
    --color-input-disabled-background: var(--color-base-700);
    --color-input-disabled-border: var(--color-base-800);
    
    /* Colors used for action buttons */
    --color-action-background: var(--color-action-500);
    --color-action-background-2: var(--color-action-600);
    --color-action-border: var(--color-action-700);
    --color-action-background-active: var(--color-action-400);
    
    /* Colors used in tables */
    --color-table-text: var(--color-base-900);
    --color-table-border: var(--color-contrast-300);
    --color-table-text-cond: var(--color-base-800);
    --color-table-text-heading: var(--color-base-600);
    --color-table-hyperlink: var(--color-base-900);
    
    /* Colors used for large buttons */
    --color-large-button-background: var(--color-base-400);
    --color-large-button-background-2: var(--color-base-500);
    --color-large-button-box-shadow: var(--color-base-800);
    --color-large-button-border: var(--color-base-400);
    
    /* Colors used for item icons */
    --color-item-icon-border: var(--color-contrast-300);
    --color-item-icon-background: var(--color-contrast-500);
    
    /* Colors used for autocomplete fields */
    --color-autocomplete-active-background: var(--color-primary-500);
    --color-autocomplete-active-text: var(--color-base-100);
    
    /* Colors used for progress bars */
    --color-progress-bar: var(--color-primary-500);
    --color-progress-bar-2: var(--color-primary-400);
    
    /* Colors used for hyperlinks */
    --color-hyperlink: var(--color-secondary-500);
    --color-button-hyperlink-background: var(--color-primary-500);
    --color-button-hyperlink-background-2: var(--color-primary-600);
    --color-button-hover-hyperlink-background: var(--color-primary-600);
    --color-button-hyperlink-text: var(--color-contrast-600);
    
    /* Colors used for dropdowns */
    --color-dropdown-background: var(--color-base-100);
    --color-dropdown-background-hover: var(--color-base-800);
    /* Color used for the "none" option in dropdowns */
    --color-dropdown-none-text: var(--color-base-800);
    
    /* Colors used for pagination */
    --color-pagination-text: var(--color-base-1000);
    --color-pagination-border: var(--color-base-900);
    --color-pagination-background: var(--color-base-700);
    --color-pagination-center-border: var(--color-base-900);
    
    /* Colors used for form fields */
    --color-form-tip: var(--color-contrast-300);
    --color-form-background: var(--color-base-500);
    --color-form-border: var(--color-base-600);
    --color-form-input-background: var(--color-base-400);
    --color-form-input-background-2: var(--color-base-400);
    --color-form-input-border: var(--color-base-800);
    --color-form-border: var(--color-base-900);
    
    /* Colors used for charts */
    --color-chart-background: var(--color-base-300);
    --color-chart-border: var(--color-base-500);
    --color-chart-button-background: var(--color-base-200);
    --color-chart-button-border: var(--color-contrast-300);
    --color-chart-button-text: var(--color-contrast-300);
    --color-chart-text: var(--color-contrast-400);
    --color-chart-grid: var(--color-contrast-300);
    --color-chart-legend: var(--color-contrast-400);
    --color-chart-zoom-border: var(--color-contrast-400);
    --color-chart-tooltip-text: var(--color-base-100);
    --color-chart-tooltip-background: var(--color-contrast-600);
    --color-chart-tooltip-text-meta: var(--color-base-600);
    
    /* Colors used for alerts */
    --color-alert-background: var(--color-base-500);
    --color-alert-border: var(--color-base-500);
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    font-size: 13px;
}

body {
    background-color: var(--color-background);
    font-size: 13px;
    color: var(--color-base);
    line-height: 1.8em;
    font-family: "Open Sans", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

main {
    position: relative;
    padding: 4em 0;
}

a {
    color: var(--color-hyperlink);
}

/**************************************************/
/* Headings
/**************************************************/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    margin-bottom: 0.4em;
    line-height: 1.4em;
}

h1 {
    font-size: 2.4em;
    border-bottom: 1px solid var(--color-base);
}

h4.table-title {
    float: left;
}

/**************************************************/
/* Inputs
/**************************************************/
input, select {
    border: 1px solid var(--color-input-border);
    color: var(--color-components);
    background-color: var(--color-input-background);
    padding: 0.5em 0.8em 0.5em 0.8em;
    border-radius: 2px;
    margin-right: 0.4em;
    font-size: 0.85em;
}

input:disabled,
select:disabled {
    color: var(--color-input-disabled-text);
    background-color: var(--color-input-disabled-background);
    border-color: var(--color-input-disabled-border);
}

select {
    min-width: 5em;
    padding: 0.4em;
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0; /* Removes leftover margin */
}

input:focus {
    outline: thin dotted;
    outline-color: var(--color-components);
}

input[type=text].active {
    background: var(--color-input-active-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-color: var(--color-input-active-border);
    color: var(--color-input-active-text);
}

input[type=date] {
    position: relative;
    width: 100%;
    width: 9em;
    height: 1.2em;
    font-family: "Open Sans", Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

input[type=date].active {
    background: var(--color-input-active-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-color: var(--color-input-active-border);
    color: var(--color-input-active-text);
}

input[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
    color: transparent;
    cursor: pointer;
    background: none;
    z-index: 1;
}

input[type=date]:before {
    content: '\00a0';
    content: '\25BF';
    background: none;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 20%;
    right: 1em;
}

input[type=date]::-webkit-clear-button {
    cursor: pointer;
    padding-right: 0.3em;
}

/**************************************************/
/* Tables
/**************************************************/
table {
    width: 100%;
    border-collapse: collapse;
}

table tbody a {
    color: var(--color-table-hyperlink);
    text-decoration: none;
}

table .price,
table .number {
    text-align: right;
}

table .date {
    width: 6.2em;
}

table .center {
    text-align: center;
}

table .right {
    text-align: right;
}

th {
    padding: 8px 12px;
    line-height: 3em;
    font-size: 0.8em;
    color: var(--color-base);
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    border-top: 1px solid var(--color-components);
    white-space: nowrap;
}

th.sortable:after {
    margin-left: 0.7em;
    margin-top: -0.1em;
    position: absolute;
}

th.sortable.desc:after {
    content: ' \25B5';
}

th.sortable.asc:after {
    content: ' \25BF';
}

th.sortable {
    cursor: pointer;
    position: relative;
    user-select: none;
}

/* since this column is empty we center the arrow */
th.sortable.sale-type:after {
    margin-left: -0.2em;
}

tbody tr {
    line-height: 1.6em;
    color: var(--color-table-text);
    border-bottom: 1px solid var(--color-table-border);
    background-color: var(--color-components);
}

tbody tr:last-child {
    border-bottom: none;
}

td {
    padding: 12px 12px;
}

td.price {
    width: 4.8em;
    text-align: right;
    font-weight: bold;
    color: var(--color-table-text-heading);
    text-align: right;
}

td.cond {
    width: 1.4em;
    font-weight: bold;
    color: var(--color-table-text-cond);
}

td .market-name,
td .market-name a {
    color: var(--color-table-text-heading);
}

td .market-name a {
    text-decoration: none;
}

td .market-name {
    font-weight: bold;
}

td .game-name {
    font-size: 0.85em;
}

td.image {
    padding: 0 2px;
}

td.image img {
    vertical-align: middle;
}

td .item-icon {
    height: 34px;
}

td .item-icon-wrapper {
    vertical-align: middle;
    padding: 0.3em;
    margin: 0.2em;
    border-radius: 50%;
    border: 2px solid var(--color-item-icon-border);
    background-color: var(--color-item-icon-background);
    width: 34px;
    height: 34px;
}

.loss .sale-type {
    color: var(--color-loss-text);
}

.gain .sale-type {
    color: var(--color-gain-text);
}

.empty-table {
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 1.4em 1.8em;
    margin-top: 1em;
    background-color: transparent;
    border: 1px solid var(--color-components);
    color: var(--color-base);
}

/**************************************************/
/* Buttons
/**************************************************/
button,
.button {
    border-radius: 5px;
    border: 1px solid var(--color-input-border);
    color: var(--color-components);
    padding: 0.5em 1.2em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    line-height: 1.2em;
    position: relative;
    margin-right: 0.4em;
    font-size: 0.85em;
    cursor: pointer;
    user-select: none;
    background: var(--color-input-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-input-background-2) 0%, var(--color-input-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-input-background-2) 0%, var(--color-input-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-input-background-2) 0%, var(--color-input-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a .button {
    font-weight: bold;
    color: var(--color-button-hyperlink-text);
    border: 1px solid var(--color-button-hyperlink-background);
    box-shadow: none;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#119074+0,11997b+100 */
    background: var(--color-button-hyperlink-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-button-hyperlink-background-2) 0%, var(--color-button-hyperlink-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-button-hyperlink-background-2) 0%,var(--color-button-hyperlink-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-button-hyperlink-background-2) 0%,var(--color-button-hyperlink-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

a.placeholder .button {
    cursor: default;
}

a .button:hover {
    border: 1px solid var(--color-button-hover-hyperlink-background);
    background: var(--color-button-hover-hyperlink-background);
}

button:hover,
.button:hover {
    background: var(--color-input-background-hover);
}

button:active,
.button:active {
    background: var(--color-input-background);
}

button.active,
.button.active {
    background: var(--color-input-active-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-input-active-background-2) 0%, var(--color-input-active-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-color: var(--color-input-active-border);
    color: var(--color-input-active-text)
}

/* for icons */
.button i {
    margin-right: 0.4em;
}

.large.button {
    width: 100%;
    font-size: 1.3em;
    padding: 1.2em 1.6em;
    box-sizing: border-box;
    border-color: var(--color-large-button-border);
    box-shadow: 0px 1px 6px 1px var(--color-large-button-box-shadow);
    background: var(--color-large-button-background-2); /* Old browsers */
    background: -moz-linear-gradient(left, var(--color-large-button-background-2) 0%, var(--color-large-button-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--color-large-button-background-2) 0%, var(--color-large-button-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--color-large-button-background-2) 0%, var(--color-large-button-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.large.button:hover {
    background: var(--color-large-button-background-2);
}

.long.button {
    width: 12em;
}

.action.button {
    border-color: var(--color-action-border);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3d39a+0,d9caa3+100 */
    background: var(--color-action-background-2); /* Old browsers */
    background: -moz-linear-gradient(left, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.action.button:hover {
    background: var(--color-action-background-2);
}

.action.button:active {
    background: var(--color-action-background-active)
}

/**************************************************/
/* Alerts
/**************************************************/
.alert {
    border-radius: 5px;
    font-size: 1.2em;
    line-height: 1.6em;
    padding: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    color: var(--color-base);
    background-color: var(--color-alert-background);
    border: 1px solid var(--color-alert-border);
}

.alert.active {
    border-color: var(--color-action-border);
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#e3d39a+0,d9caa3+100 */
    background: var(--color-action-background-2); /* Old browsers */
    background: -moz-linear-gradient(left, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, var(--color-action-background-2) 0%, var(--color-action-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.alert p {
    padding: 1.4em 1.8em;
}

.alert a {
    color: var(--color-hyperlink);
    font-weight: bold;
}

/**************************************************/
/* Dropdowns
/**************************************************/
.dropdown .button {
    padding: 0.5em 2.2em 0.5em 1em;
}

.dropdown .button:after {
    content: ' \25BF';
    position: absolute;
    top: 20%;
    right: 1em;
}

.circle:before {
    content: '\25CF ';
    margin-right: 0.4em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content, .autocomplete-items {
    position: absolute;
    z-index: 1;
    background-color: var(--color-dropdown-background);
    box-shadow: 0px 2px 4px 0px var(--color-black-shadow);
}

.dropdown-content {
    right: 0.4em;
}

.dropdown-content a, .autocomplete-items div {
    color: var(--color-components);
    padding: 8px 12px;
    text-decoration: none;
    display: block;
    min-width: 160px;
    border-bottom: 1px solid var(--color-dropdown-background-hover);
}

.dropdown-content a:last-child, .autocomplete-items div:last-child {
    border-bottom: none;
}

.dropdown-content a:hover, .autocomplete-items div:hover {
    background-color: var(--color-dropdown-background-hover);
}

.dropdown-content a.none {
    color: var(--color-dropdown-none-text);
}

/**************************************************/
/* Autocomplete
/**************************************************/
.autocomplete {
    position: relative;
}

.autocomplete input {
    min-width: 240px;
}

.autocomplete-items {
    top: 100%;
    left: 0;
    min-width: 240px;
}

.autocomplete-items div {
    cursor: pointer;
}

.autocomplete-active {
    background-color: var(--color-autocomplete-active-background) !important;
    color: var(--color-autocomplete-active-text) !important;
}

/**************************************************/
/* Layout
/**************************************************/
main.unloaded {
    visibility: hidden;
}

.grid-container {
    max-width: 800px;
    min-width: 600px;
    padding: 0 1em;
    margin: 0 auto;
}

.grid-container:after {
    content: "";
    display: table;
    clear: both;
}

.mini .grid-container {
    max-width: 520px;
    min-width: 520px;
}

.section {
    margin-bottom: 1.6em;
}

.section:last-child {
    margin-bottom: 0;
}

.columns {
    display: flex;
}

.columns .column {
    width: 50%;
    box-sizing: border-box;
    margin: 0 0.8em;
}

.columns .column.one-third {
    width: 33.33%;
}
.columns .column.two-third {
    
    width: 66.66%;
}

.columns .column:first-child {
    margin-left: 0;
}

.columns .column:last-child {
    margin-right: 0;
}

.indent {
    padding: 1em;
}

.header {
    margin-top: 1.6em;
}

.divider {
    color: var(--color-text-divider);
    padding: 0 0.4em;
}

/**************************************************/
/* Forms
/**************************************************/

.form-group label .tip,
.form-group .label-box .tip {
    color: var(--color-form-tip);
    font-size: 0.9em;
}

.form-group button,
.form-group .button,
.form-group button:active,
.form-group .button:active,
.form-group input,
.form-group select {
    background: var(--color-form-input-background-2); /* Old browsers */
    background: -moz-linear-gradient(top, var(--color-form-input-background-2) 0%, var(--color-form-input-background) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-form-input-background-2) 0%, var(--color-form-input-background) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-form-input-background-2) 0%, var(--color-form-input-background) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.form-group input,
.form-group select {
    float: left;
}

.form-group h4 {
    font-size: 1.8em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

.form-group input:disabled,
.form-group select:disabled {
    background-color: var(--color-form-input-background-2);
}

.form-group legend {
    top: 100px;
    background-color: var(--color-form-input-background-2);
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    border: 1px solid var(--color-form-input-border);
    padding: 0.2em 0.4em;
}

.form-group {
    background-color: var(--color-form-background);
    border: 1px solid var(--color-form-border);
    border-radius: 2px;
    padding: 1.6em 1.6em;
    margin-bottom: 0.8em;
}

.field {
    width: 100%;
    float: left;
    display: table;
    border-top: 1px solid var(--color-form-border);
    padding-top: 0.8em;
    margin-top: 0.8em;
}

.field:first-of-type {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.field:after {
    clear: both;
}

.field:last-child {
    margin-bottom: 0;
}

.input-box {
    width: 6rem;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.spacer {
    margin-top: 1.2rem;
}

.small.spacer {
    margin-top: 0.4rem;
}

/**************************************************/
/* Header stripes
/**************************************************/
.stripe,
.load-progress-bar {
    height: 0.5em;
    background-color: var(--color-components);
    width: 100%;
}

.load-progress-bar {
    background-color: var(--color-progress-bar);
    width: 0;
}

/**************************************************/
/* Controls
/**************************************************/
.control {
    user-select: none;
}

.table-controls {
    text-align: right;
}

.table-controls.top {
    margin-bottom: 1em;
}

.table-controls.bottom {
    margin-top: 1em;
}

.table-controls .item {
    text-align: left;
}

.table-controls button {
    margin-right: 0;
}

.item:last-child .button {
    margin-right: 0;
}

.item:last-child .dropdown-content {
    right: 0;
}

.controls .table-title {
    line-height: inherit;
    margin: 0;
}

/**************************************************/
/* Pagination
/**************************************************/
.pagination {
    display: inline-block;
}

.pagination div {
    display: inline-block;
}

.pagination .index {
    width: 6.4em;
    font-size: 0.9em;
    text-align: center;
    margin-right: 0.4em;
}

.pagination .index input,
.pagination .index .range {
    font-size: 0.9em;
}

.pagination .index .range {
    margin-left: 0.4em;
    display: inline-block;
}

.pagination .control.previous {
    border-top-right-radius: 0; 
    border-bottom-right-radius: 0;
    border-right: 0;
    margin-right: 0;
}

.pagination .control.next {
    border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    border-left: 1px solid var(--color-pagination-center-border) !important;
}

.pagination .control.disabled {
    color: var(--color-pagination-text);
    border-color: var(--color-pagination-border);
    background: var(--color-pagination-background);
}

.pagination .control.disabled:hover {
    background: var(--color-pagination-background);
}

/**************************************************/
/* Loading display
/**************************************************/
.center-spinner {
    width: 64px;
    margin: 0 auto;
}

.content-loader {
    width: 64px;
    float: left;
    position: absolute;
    top: 0.6em;
    left: 0.6em;
    z-index: -1;
}

.lds-default {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-default div {
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--color-base);
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}

.lds-default div:nth-child(1) {
    animation-delay: 0s;
    top: 29px;
    left: 53px;
}

.lds-default div:nth-child(2) {
    animation-delay: -0.1s;
    top: 18px;
    left: 50px;
}

.lds-default div:nth-child(3) {
    animation-delay: -0.2s;
    top: 9px;
    left: 41px;
}

.lds-default div:nth-child(4) {
    animation-delay: -0.3s;
    top: 6px;
    left: 29px;
}

.lds-default div:nth-child(5) {
    animation-delay: -0.4s;
    top: 9px;
    left: 18px;
}

.lds-default div:nth-child(6) {
    animation-delay: -0.5s;
    top: 18px;
    left: 9px;
}

.lds-default div:nth-child(7) {
    animation-delay: -0.6s;
    top: 29px;
    left: 6px;
}

.lds-default div:nth-child(8) {
    animation-delay: -0.7s;
    top: 41px;
    left: 9px;
}

.lds-default div:nth-child(9) {
    animation-delay: -0.8s;
    top: 50px;
    left: 18px;
}

.lds-default div:nth-child(10) {
    animation-delay: -0.9s;
    top: 53px;
    left: 29px;
}

.lds-default div:nth-child(11) {
    animation-delay: -1s;
    top: 50px;
    left: 41px;
}

.lds-default div:nth-child(12) {
    animation-delay: -1.1s;
    top: 41px;
    left: 50px;
}

@keyframes lds-default {
    0%, 20%, 80%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

/* CSS spinner from https://loading.io/css/ */
.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-spinner div {
    transform-origin: 32px 32px;
    animation: lds-spinner 1.2s linear infinite;
}

.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 29px;
    width: 5px;
    height: 14px;
    border-radius: 20%;
    background: var(--color-base);
}

.ids-spinner-small {
    width: 40px;
    height: 40px;
}

.ids-spinner-small div {
    transform-origin: 20px 20px;
}

.ids-spinner-small:after {
    top: 2px;
    left: 18px;
    width: 3px;
    height: 9px;
}

.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}

.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}

.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}

.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}

.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}

.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}

.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}

.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}

.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}

.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}

.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}

.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}

@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes progress-ellipsis {
    20% {
        content: '\00a0\00a0\00a0';
    }
    40% {
        content: '.\00a0\00a0';
    }
    60% {
        content: '..\00a0';
    }
    80% {
        content: '...';
    }
}

.progress-load {
    position: absolute;
    z-index: -1;
    top: 24px;
    left: 12px;
    width: 64px;
    height: 64px;
    text-align: center;
}

/**************************************************/
/* Tooltips
/**************************************************/
.tooltip {    
    z-index: 100;
    position: absolute;
    background-color: var(--color-tooltip-background);
    background-image: url('/images/layout/item_tooltip.png');
    background-repeat: no-repeat;
    color: var(--color-tooltip-text);
    font-weight: normal;
    padding: 22px 12px;
    line-height: 1.4em;
    box-sizing: border-box;
    border: 2px solid var(--color-tooltip-border);
    box-shadow: 0px 1px 1px 1px var(--color-black-shadow);
    width: 354px;
}

.tooltip .header-image {
    display: table-cell;
    vertical-align: middle;
    height: 192px;
}

.tooltip h4 {
    font-size: 1.8em;
    margin-bottom: 0;
}

/**************************************************/
/* Generic
/**************************************************/
.left {
    float: left;
}

.right {
    float: right;
}

.absolute-center {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin-top: -32px;
    margin-left: -32px;
    text-align: center;
}

.hidden {
    /* Something with this class should definitely appear hidden */
    display: none !important;
}

.input-spinner {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
    padding-top: 1px;
    padding-right: 0.8em;
    text-align: center;
    color: var(--color-components);
}

/**************************************************/
/* Progress
/**************************************************/
/* CSS progress bars based on https://css-tricks.com/css3-progress-bars */

.meter {
    width: 100%;
    height: 0.8em;
    position: relative;
    user-select: none;
    background: #FFFFFF;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#39424e+0,39424e+100&0.2+0,0.39+100 */
    background: -moz-linear-gradient(top, var(--color-black-shadow) 0%, var(--color-black-shadow) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, var(--color-black-shadow) 0%,var(--color-black-shadow) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, var(--color-black-shadow) 0%,var(--color-black-shadow)00%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.meter > span {
    display: block;
    height: 100%;
    background-color: var(--color-progress-bar);
    background-image: -webkit-gradient(
      linear,
      left bottom,
      left top,
      color-stop(0, var(--color-progress-bar)),
      color-stop(1, var(--color-progress-bar-2))
     );
    background-image: -moz-linear-gradient(
      center bottom,
      var(--color-progress-bar) 37%,
      var(--color-progress-bar-2) 69%
    );
    position: relative;
    overflow: hidden;
}

.meter > span:after, .animate > span > span {
    content: "";
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-image: -webkit-gradient(
        linear, 0 0, 100% 100%, 
        color-stop(.25, var(--color-white-shadow)), 
        color-stop(.25, transparent), color-stop(.5, transparent), 
        color-stop(.5, var(--color-white-shadow)), 
        color-stop(.75, var(--color-white-shadow)), 
        color-stop(.75, transparent), to(transparent)
    );
    background-image: -moz-linear-gradient(
        -45deg, 
        var(--color-white-shadow) 25%, 
        transparent 25%, 
        transparent 50%, 
        var(--color-white-shadow) 50%, 
        var(--color-white-shadow) 75%, 
        transparent 75%, 
        transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    animation: move 2s linear infinite;
    -webkit-animation: move 2s linear infinite;
    overflow: hidden;
}

.animate > span:after {
    display: none;
}

@keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}

.nostripes > span > span, .nostripes > span:after {
    animation: none;
    -webkit-animation: none;
    background-image: none;
}

/**************************************************/
/* Charts
/**************************************************/

.chart-container {
    background-color: var(--color-chart-background);
    border-top: 4px solid var(--color-chart-border);
    border-bottom: 4px solid var(--color-chart-border);
    padding: 3em 2.4em;
}

.ct-chart .button {
    background-color: var(--color-chart-button-background);
    border-color: var(--color-chart-button-border);
    color: var(--color-chart-button-text);
    float: right;
    margin-right: 0;
    margin-bottom: 1.2em;
}

.ct-label {
    color: var(--color-chart-text) !important;
}

.ct-grid {
    stroke: var(--color-chart-grid) !important;
}

.ct-series-a .ct-line {
    stroke: var(--color-positive-500);
    stroke-width: 2px;
}

.ct-series-a .ct-point {
    stroke: var(--color-positive-300);
    stroke-width: 6px;
}

.ct-series-a .sales .ct-line, .ct-series-a .sales .ct-point  {
    stroke: var(--color-negative-500);
}

.ct-legend {
    position: relative;
    z-index: 10;
    text-align: center;
}

.ct-legend li {
    position: relative;
    padding-left: 2em;
    list-style-type: none;
    display: inline-block;
    margin-right: 2em;
}

.ct-legend:last-child {
    margin-right: 0;
}

.ct-legend li.sales:before {
    background-color: var(--color-negative-600);
    border-color: var(--color-negative-600);
}

.ct-legend li.purchases:before {
    background-color: var(--color-positive-500);
    border-color: var(--color-positive-500);
}

.ct-legend li:before {
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    position: absolute;
    left: 0;
    content: '';
    background-color: var(--color-chart-legend);
    border: 2px solid var(--color-chart-legend);
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-zoom-rect {
  fill: var(--color-black-shadow);
  stroke: var(---color-chart-zoom-border);
}

.ct-label.ct-horizontal, .ct-label.ct-vertical {
  white-space: nowrap;
}

.chartist-tooltip {
  background: var(--color-chart-tooltip-background);
  color: var(--color-chart-tooltip-text);
  text-align: left;
  border-radius: 2px;
  padding: 0.4em 0.6em;
  line-height: 1.6em;
}

.chartist-tooltip:before {
  border-top-color: var(--color-chart-tooltip-background);
}

.chartist-tooltip-meta {
  color: var(--color-chart-tooltip-text-meta);
  font-weight: bold;
  font-size: 0.85em;
}

.chartist-tooltip-value {
  font-size: 1.4em;
}

.ct-legend li.inactive:before {
  background: transparent !important;
}

/**************************************************/
/* Palette viewer
/**************************************************/

div.palette {
    width: 100%;
}

div.color-group {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 2em;
}

div.small.color-group .color {
    height: 0.2em;
}

div.color {
    flex: 1;
    min-width: 0;
    height: 4em;
}

div.color.color-base-100 {
    background-color: var(--color-base-100);
}

div.color.color-base-200 {
    background-color: var(--color-base-200);
}

div.color.color-base-300 {
    background-color: var(--color-base-300);
}

div.color.color-base-400 {
    background-color: var(--color-base-400);
}

div.color.color-base-500 {
    background-color: var(--color-base-500);
}

div.color.color-base-600 {
    background-color: var(--color-base-600);
}

div.color.color-base-700 {
    background-color: var(--color-base-700);
}

div.color.color-base-800 {
    background-color: var(--color-base-800);
}

div.color.color-base-900 {
    background-color: var(--color-base-900);
}

div.color.color-base-1000 {
    background-color: var(--color-base-1000);
}

div.color.color-contrast-300 {
    background-color: var(--color-contrast-300);
}

div.color.color-contrast-400 {
    background-color: var(--color-contrast-400);
}

div.color.color-contrast-500 {
    background-color: var(--color-contrast-500);
}

div.color.color-contrast-600 {
    background-color: var(--color-contrast-600);
}

div.color.color-contrast-700 {
    background-color: var(--color-contrast-700);
}

div.color.color-primary-300 {
    background-color: var(--color-primary-300);
}

div.color.color-primary-400 {
    background-color: var(--color-primary-400);
}

div.color.color-primary-500 {
    background-color: var(--color-primary-500);
}

div.color.color-primary-600 {
    background-color: var(--color-primary-600);
}

div.color.color-primary-700 {
    background-color: var(--color-primary-700);
}

div.color.color-action-300 {
    background-color: var(--color-action-300);
}

div.color.color-action-400 {
    background-color: var(--color-action-400);
}

div.color.color-action-500 {
    background-color: var(--color-action-500);
}

div.color.color-action-600 {
    background-color: var(--color-action-600);
}

div.color.color-action-700 {
    background-color: var(--color-action-700);
}

div.color.color-positive-300 {
    background-color: var(--color-positive-300);
}

div.color.color-positive-400 {
    background-color: var(--color-positive-400);
}

div.color.color-positive-500 {
    background-color: var(--color-positive-500);
}

div.color.color-positive-600 {
    background-color: var(--color-positive-600);
}

div.color.color-positive-700 {
    background-color: var(--color-positive-700);
}

div.color.color-negative-300 {
    background-color: var(--color-negative-300);
}

div.color.color-negative-400 {
    background-color: var(--color-negative-400);
}

div.color.color-negative-500 {
    background-color: var(--color-negative-500);
}

div.color.color-negative-600 {
    background-color: var(--color-negative-600);
}

div.color.color-negative-700 {
    background-color: var(--color-negative-700);
}

div.color.color-secondary-500 {
    background-color: var(--color-secondary-500);
}
