
.chart-container {
    background-color: #E9EAEB;
    border-top: 4px solid #C3C8CD;
    border-bottom: 4px solid #C3C8CD;
    padding: 3em 2.4em;
}

.ct-chart .button {
    background-color: #F0F1F2;
    border-color: #697B91;
    color: #566578;
    float: right;
    margin-right: 0;
    margin-bottom: 1.2em;
}

.ct-label {
    color: #36404D !important;
}

.ct-grid {
    stroke: #697B91 !important;
}

.ct-series-a .ct-line {
    stroke: #20A98A;
    stroke-width: 2px;
}

.ct-series-a .ct-point {
    stroke: #36C9A7;
    stroke-width: 6px;
}

.ct-series-a .sales .ct-line, .ct-series-a .sales .ct-point  {
    stroke: #D16E59;
}

.ct-legend {
    position: relative;
    z-index: 10;
    text-align: center;
}

.ct-legend li {
    position: relative;
    padding-left: 2em;
    list-style-type: none;
    display: inline-block;
    margin-right: 2em;
}

.ct-legend:last-child {
    margin-right: 0;
}

.ct-legend li.sales:before {
    background-color: #D16E59;
    border-color: #D16E59;
}

.ct-legend li.purchases:before {
    background-color: #20A98A;
    border-color: #20A98A;
}

.ct-legend li:before {
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    position: absolute;
    left: 0;
    content: '';
    background-color: #36404D;
    border: 2px solid #36404D;
    border-radius: 2px;
}

.ct-legend li.inactive:before {
    background: transparent;
}

.ct-zoom-rect {
  fill: rgba(54, 64, 77, 0.12);
  stroke: #36404D;
}

.ct-label.ct-horizontal, .ct-label.ct-vertical {
  white-space: nowrap;
}

.chartist-tooltip {
  background: #253242;
  color: #F9FBFC;
  text-align: left;
  border-radius: 2px;
  padding: 0.4em 0.6em;
  line-height: 1.6em;
}

.chartist-tooltip:before {
  border-top-color: #253242;
}

.chartist-tooltip-meta {
  color: #B7BDC4;
  font-weight: bold;
  font-size: 0.85em;
}

.chartist-tooltip-value {
  font-size: 1.4em;
}

.ct-legend li.inactive:before {
  background: transparent !important;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-0:before {
  background-color: #33615D;
  border-color: #33615D;
}

.ct-sales.ct-chart.ct-pie  .ct-series-a .ct-slice-pie {
  fill: #33615D;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-1:before {
  background-color: #31786B;
  border-color: #31786B;
}

.ct-sales.ct-chart.ct-pie  .ct-series-b .ct-slice-pie {
  fill: #31786B;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-2:before {
  background-color: #2E8A76;
  border-color: #2E8A76;
}

.ct-sales.ct-chart.ct-pie  .ct-series-c .ct-slice-pie {
  fill: #2E8A76;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-3:before {
  background-color: #2A9A81;
  border-color: #2A9A81;
}

.ct-sales.ct-chart.ct-pie  .ct-series-d .ct-slice-pie {
  fill: #2A9A81;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-4:before {
  background-color: #27A88A;
  border-color: #27A88A;
}

.ct-sales.ct-chart.ct-pie  .ct-series-e .ct-slice-pie {
  fill: #27A88A;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-5:before {
  background-color: #75B8A4;
  border-color: #75B8A4;
}

.ct-sales.ct-chart.ct-pie  .ft-series-f .ct-slice-pie {
  fill: #75B8A4;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-6:before {
  background-color: #9DC6B9;
  border-color: #9DC6B9;
}

.ct-sales.ct-chart.ct-pie  .ft-series-g .ct-slice-pie {
  fill: #9DC6B9;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-7:before {
  background-color: #BBD3CB;
  border-color: #BBD3CB;
}

.ct-sales.ct-chart.ct-pie  .ft-series-h .ct-slice-pie {
  fill: #BBD3CB;
}

.ct-sales.ct-chart.ct-pie .ct-legend li.ct-series-8:before {
  background-color: #D4DFDC;
  border-color: #D4DFDC;
}

.ct-sales.ct-chart.ct-pie  .ft-series-i .ct-slice-pie {
  fill: #D4DFDC;
}