
/* Listing table related styles */

.query {
    text-align: right;
    margin-bottom: 0.6em;
}

.query .item {
    text-align: left;
    display: inline-block;
    margin-right: 0.6em;
}

.query .item * {
    margin: 0;
}

.query .item:last-child {
    margin-right: 0;
}

.date-box label {
    padding: 0 1em;
    font-size: 0.85em;
}

.query .item.date-box {
    text-align: right;
}

.query .dates {
    margin-bottom: 0.6em;
}