
label {
    float: left;
}

label .tip, .label-box .tip {
    color: #5C646E;
    font-size: 0.9em;
}

button, .button, button:active, .button:active, input, select {
    background: #DADEE3;
}

input, select {
    float: left;
}

input:disabled, select:disabled {
    background-color: #C6CACF;
}

legend {
    top: 100px;
    background-color: #CACFD6;
    font-size: 1.6em;
    font-weight: bold;
    font-family: "Open Sans Condensed", sans-serif;
    border: 1px solid #9DA2A8;
    padding: 0.2em 0.4em;
}

h4 {
    font-size: 1.8em;
    margin-top: 0.8em;
    margin-bottom: 0.6em;
}

.margin-box {
    margin-left: 6rem;
}

.form-group {
    background-color: #CACFD6;
    border: 1px solid #9DA2A8;
    border-radius: 2px;
    padding: 1.6em 1.6em;
    margin-bottom: 0.8em;
}

.field {
    width: 100%;
    float: left;
    display: table;
    border-top: 1px solid #9DA2A8;
    padding-top: 0.8em;
    margin-top: 0.8em;
}

.field:first-of-type {
    border-top: none;
    padding-top: 0;
    margin-top: 0;
}

.field:after {
    clear: both;
}

.field:last-child {
    margin-bottom: 0;
}

.input-box {
    width: 6rem;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
}

.spacer {
    margin-top: 1.2rem;
}

.small.spacer {
    margin-top: 0.4rem;
}

#data-preferences input {
    float: none;
}