<!doctype html>
<html>

<head>
    <title>Colors - Steam Market History Cataloger</title>
    <link rel="stylesheet" type="text/css" href="/css/views/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/listings.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/load.css" />
</head>

<body style="background-color: #454545;">
    <div class="stripe"></div>
    <div id="progress" class="load-progress-bar"></div>
    <main id="main" class="main">
        <div class="grid-container">
            <div class="palette grid-item">
                <div class="color-group">
                    <div class="color color-base-100"></div>
                    <div class="color color-base-200"></div>
                    <div class="color color-base-300"></div>
                    <div class="color color-base-400"></div>
                    <div class="color color-base-500"></div>
                    <div class="color color-base-600"></div>
                    <div class="color color-base-700"></div>
                    <div class="color color-base-800"></div>
                    <div class="color color-base-900"></div>
                    <div class="color color-base-1000"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-contrast-300"></div>
                    <div class="color color-contrast-400"></div>
                    <div class="color color-contrast-500"></div>
                    <div class="color color-contrast-600"></div>
                    <div class="color color-contrast-700"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-primary-300"></div>
                    <div class="color color-primary-400"></div>
                    <div class="color color-primary-500"></div>
                    <div class="color color-primary-600"></div>
                    <div class="color color-primary-700"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-action-300"></div>
                    <div class="color color-action-400"></div>
                    <div class="color color-action-500"></div>
                    <div class="color color-action-600"></div>
                    <div class="color color-action-700"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-secondary-500"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-positive-300"></div>
                    <div class="color color-positive-400"></div>
                    <div class="color color-positive-500"></div>
                    <div class="color color-positive-600"></div>
                    <div class="color color-positive-700"></div>
                </div>
                
                <div class="color-group">
                    <div class="color color-negative-300"></div>
                    <div class="color color-negative-400"></div>
                    <div class="color color-negative-500"></div>
                    <div class="color color-negative-600"></div>
                    <div class="color color-negative-700"></div>
                </div>
            </div>
        </div>
        
    </main>
    
    <script src="/js/lib/velocity.min.js" type="text/javascript"></script>
    <script src="/js/lib/velocity.ui.min.js" type="text/javascript"></script>
</body>

</html>