<!doctype html>
<html>

<head>
    <title>Preferences - Steam Market History Cataloger</title>
    <link rel="stylesheet" type="text/css" href="/css/views/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/preferences.css" />
</head>

<body>
    <div class="stripe"></div>
    <div id="progress" class="load-progress-bar"></div>
    <main id="main" class="main unloaded mini">
        <div class="grid-container section">
            <form id="preferences">
                <fieldset id="market-preferences" class="form-group">
                    <h4>
                        Loading market transactions
                    </h4>
                    <!-- Too much configuration may have serious consequences
                    <div class="field">
                        <div class="input-box">
                            <select id="market_per_page" name="market_per_page">
                                <option value="10">10</option>
                                <option value="25">25</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="250">250</option>
                                <option value="500">500</option>
                            </select>
                        </div>
                        <label for="market_per_page">
                            <b>
                                Transactions per page
                            </b>
                            <p class="tip">
                                The number of market transactions to load on each request.
                            </p>
                        </label>
                    </div>
                    <div class="field">
                        <div class="input-box">
                            <select id="market_poll_interval_seconds" name="market_poll_interval_seconds">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                            </select>
                        </div>
                        <label for="market_poll_interval_seconds">
                            <b>
                                Load cooldown (seconds)
                            </b>
                            <p class="tip">
                                The number of seconds to wait after each successful request. This allows you to space your requests out over time.
                            </p>
                         </label>
                    </div>
                    -->
                    <div class="field">
                        <div class="input-box">
                            <input type="checkbox" id="background_poll_boolean" name="background_poll_boolean">
                        </div>
                        <label for="background_poll_boolean">
                            <b>
                                Load in background
                            </b>
                            <p class="tip">
                                Loads listings in the background when enabled. Will poll listings at the interval listed below.
                            </p>
                         </label>
                        </label>
                    </div>
                    <div class="field">
                        <div class="input-box">
                            <select id="background_poll_interval_minutes" name="background_poll_interval_minutes">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="60">60</option>
                                <option value="180">180</option>
                            </select>
                        </div>
                        <label for="background_poll_interval_minutes">
                            <b>
                                Backround poll interval (minutes)
                            </b>
                            <p class="tip">
                                The number of minutes between each background update.
                            </p>
                        </label>
                    </div>
                    <div class="field">
                        <div class="input-box">
                            <select id="search_results_count" name="search_results_count">
                                <option value="100">100</option>
                                <option value="500">500</option>
                                <option value="1000">1000</option>
                                <option value="5000">5000</option>
                                <option value="10000">10000</option>
                                <option value="20000">20000</option>
                                <option value="100000">100000</option>
                            </select>
                        </div>
                        <label for="search_results_count">
                            <b>
                                Search results limit
                            </b>
                            <p class="tip">
                                The maximum number of listings to fetch <a href="/views/view/index.html" target="_blank">when searching for listings</a>. Higher numbers mean longer time to fetch search results.
                            </p>
                        </label>
                    </div>
                </fieldset>
                <!-- Too much configuration may have serious consequences
                <fieldset id="market-preferences" class="form-group">
                    <h4>
                        Extension preferences
                    </h4>
                    <div class="field">
                        <div class="input-box">
                            <input type="checkbox" id="show_new_listing_count" name="show_new_listing_count">
                        </div>
                        <label for="show_new_listing_count">
                            <b>
                                Show new listings on icon
                            </b>
                            <p class="tip">
                                Will show the number of new listings loaded in the background on this extension's icon if enabled.
                            </p>
                        </label>
                    </div>
                    <div class="field">
                        <div class="input-box">
                            <select id="pagination_count" name="pagination_count">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                                <option value="100">100</option>
                                <option value="500">500</option>
                            </select>
                        </div>
                        <label for="pagination_count">
                            <b>
                                Table pagination
                            </b>
                            <p class="tip">
                                Number of results to show per page for tables in extension.
                            </p>
                        </label>
                    </div>
                </fieldset>
                -->
                <fieldset id="data-preferences" class="form-group">
                    <h4>
                        Data
                    </h4>
                    <div id="listings-description" class="label-box">
                        <div class="field" id="delete-data-controls">
                            <p>
                                <b>You have <span id="listing-count"></span></b>
                            </p>
                            <p class="tip" id="load-controls">
                                <span id="listing-describe"></span>Here you have the option to delete all recorded listings and settings data and start over, or maybe you just don't need them anymore. Make sure you want to do this.
                            </p>
                            <p class="language-box spacer">
                                <b>Detected language: <span id="listings-language"></span></b>
                            </p>
                            <p class="tip">
                                This is the language detected during configuration based on your selected language on Steam. The language of all listings is recorded in this language and will never change. If the language is incorrect, you must delete the data and reload.
                            </p>
                            <div class="button spacer" id="delete-data">Delete data</div>
                        </div>
                        <!--
                            This will appear hidden. I may remove this later since
                            it's slightly confusing and needs more testing.
                        -->
                        <div class="hidden field" id="delete-after-controls">
                            <p>
                                <b>Delete listings after index</b><br/>
                            </p>
                            <p class="tip" id="delete-after-index-controls">
                                Here you can specify to delete listings that appear after a certain index. Perhaps some transactions were refunded and you want to clear them. Either way, this allows you an option to clear your listings after a certain point without having to delete all listings.<br/>
                                <input class="spacer" id="delete-after-index" type="number"/>
                                <div class="button small spacer disabled" id="delete-after-index-button">Delete</div>
                            </p>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </main>
    
    <script src="/js/lib/velocity.min.js" type="text/javascript"></script>
    <script src="/js/lib/velocity.ui.min.js" type="text/javascript"></script>
    <script src="/js/views/ui.base.js" type="module"></script>
    <script src="/js/views/ui.view.js" type="module"></script>
    <script src="/js/views/preferences.js" type="module"></script>
</body>

</html>