<!doctype html>
<html>

<head>
    <title>Viewing Item - Steam Market History Cataloger</title>
    <link rel="stylesheet" type="text/css" href="/css/dependencies/chartist.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/listings.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/charts.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/view/item.css" />
</head>

<body>
    <div class="stripe"></div>
    <main id="main" class="main unloaded">
        <div class="grid-container">
            <h1 id="item-name">
                <span class="market-name">Viewing item</span>
            </h1>
            <div class="section">
                <div id="item-external-links" class="external-links">
                    
                </div>
            </div>
            <div class="section">
                <div id="chart-transactions" class="chart-container ct-chart ct-series-a"></div>
            </div>
            <div class="section">
                <div id="results"></div>
            </div>
        </div>
    </main>
    
    <script src="/js/lib/velocity.min.js" type="text/javascript"></script>
    <script src="/js/lib/velocity.ui.min.js" type="text/javascript"></script>
    <script src="/js/lib/dexie.js" type="text/javascript"></script>
    <script src="/js/lib/chartist.min.js" type="text/javascript"></script>
    <script src="/js/lib/chartist-plugin-legend.js" type="text/javascript"></script>
    <script src="/js/lib/chartist-plugin-zoom.js" type="text/javascript"></script>
    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/views/ui.base.js" type="module"></script>
    <script src="/js/views/ui.view.js" type="module"></script>
    <script src="/js/views/view/item.js" type="module"></script>
</body>

</html>