<!doctype html>
<html>

<head>
    <title>Viewing Totals - Steam Market History Cataloger</title>
    <link rel="stylesheet" type="text/css" href="/css/dependencies/chartist.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/dependencies/chartist-plugin-tooltip.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/listings.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/charts.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/view/totals.css" />
</head>

<body>
    <div class="stripe"></div>
    <main id="main" class="main unloaded">
        <div class="grid-container">
            <div id="query" class="query"></div>
            <div id="results">
                <div class="section">
                    <div id="last-n-transactions"></div>
                </div>
                <div class="section">
                    <h4>Date</h4>
                    <div id="date-transactions" class="chart-container ct-chart ct-series-a"></div>
                </div>
                <div class="section columns">
                    <div class="column one-half">
                        <h4>Sales</h4>
                        <div id="app-transactions-sales" class="chart-container ct-chart ct-pie ct-series-a"></div>
                    </div>
                    <div class="column one-half">
                        <h4>Purchases</h4>
                        <div id="app-transactions-purchases" class="chart-container ct-chart ct-pie ct-series-a"></div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    
    <script src="/js/lib/velocity.min.js" type="text/javascript"></script>
    <script src="/js/lib/velocity.ui.min.js" type="text/javascript"></script>
    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/chartist.min.js" type="text/javascript"></script>
    <script src="/js/lib/chartist-plugin-legend.js" type="text/javascript"></script>
    <script src="/js/lib/chartist-plugin-zoom.js" type="text/javascript"></script>
    <script src="/js/lib/chartist-plugin-tooltip.js" type="text/javascript"></script>
    <script src="/js/views/ui.base.js" type="module"></script>
    <script src="/js/views/ui.view.js" type="module"></script>
    <script src="/js/views/view/totals.js" type="module"></script>
</body>

</html>