<!doctype html>
<html>

<head>
    <title>Viewing totals</title>
    <link rel="stylesheet" type="text/css" href="/css/views/base.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/listings.css" />
    <link rel="stylesheet" type="text/css" href="/css/views/view/totals.css" />
</head>

<body>
    <div class="stripe"></div>
    <main id="main" class="main unloaded">
        <div class="grid-container">
            <div id="query" class="query"></div>
            <div id="results"></div>
        </div>
    </main>
    
    <script src="/js/lib/velocity.min.js" type="text/javascript"></script>
    <script src="/js/lib/velocity.ui.min.js" type="text/javascript"></script>
    <script src="/js/lib/moment.min.js" type="text/javascript"></script>
    <script src="/js/lib/dexie.js" type="text/javascript"></script>
    <script src="/js/views/ui.base.js" type="module"></script>
    <script src="/js/views/ui.view.js" type="module"></script>
    <script src="/js/views/view/totals.js" type="module"></script>
</body>

</html>